<h1>Unauthorized</h1>


<p> 
  <%= "You are not authorized to perform the requested action. Please post a signed permission to" %>
  <%= link_to "/permission_slip/"+session.id, "/permission_slip/"+session.id %>

</p>

<p>

   <%= "You can see the proposed permission slip with the required permissions for the requested action in the same direction, by clicking the link." %>

</p>

